.group-header{
  border-bottom: 1px solid rgba(48, 54, 61, 0.664);
}

.user-menu{
  width: 37%;
  margin: 0 auto;
  padding: 60px 0px 12px 0px;
}

.user-display{
  width: 78%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .repo-cards{
    margin: 25px 18px;

    .repo-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .repo-info {
      padding: 0px 12px 10px 9px;
      color: #C9D1D9;
    }

    .repo-card-items{
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 20px;
    }
  }
}