.card-body{
  border: 1px solid #30363D;
  background-color: rgba(13, 17, 23, 0);
  border-radius: 5px;
  height: 150px;
  width: 360px;
  margin: 0px 10px;
  padding: 10px 22px;

  .title{
    color: #58A6FF;
    line-height: 0rem;
    font-weight: 600;
  }

  .subtitle{
    font-size: 0.7rem;
    letter-spacing: 0.03rem;
  }
}