.card-body{
  border: 1px solid #30363D;
  background-color: rgba(13, 17, 23, 0);
  border-radius: 5px;
  height: 120px;
  width: 460px;
  margin: 0px 10px;
  padding: 10px 22px;
  font-size: 13px;

  .title{
    color: #58A6FF;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 35px;

    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}