.user-header-menu-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .user-header-menu-items{
    padding-right: 60px;
    font-size: 15px;
    cursor: pointer;
    
    &:hover{
      color: #C9D1D9;
    }
  }

  .repo-number{
    background-color: rgba(48, 54, 61, 0.664);
    display: inline-block;
    border-radius: 43%;
    padding: 2px 8px;
    font-size: 13px;
    margin-left: 4px;
  }
}