.sideBar-container{
  width: 30%;

  .sideBar-img-container{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 1px solid rgb(115, 116, 124);
  }
}

.user-name{
  font-size: 29px;
}

.username{
  font-size: 20px;
  font-weight: 300;
}

.user-achievements, .user-organization{
  border-bottom: 1px solid rgb(115, 116, 124);
}